@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.logo {
    margin-right: auto; 
    padding-left: 3rem;
}
.logo img {
    max-width: 70px;
}
#Navbar {
    display: flex;
    flex-direction: row;
    height: 6rem;
    background-color: antiquewhite;
    width: 100%;
    justify-content: end;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

#Navbar ul {
    display: flex;
    flex-direction: row;
    padding-right: 8rem;
    list-style-type: none;
}

#Navbar li {
    font-size: 1.50rem;
    padding-right: 30px;
    font-weight: 500;
    list-style: none;
}
#Navbar a {
    text-decoration: none; 
    color: black;
}
#Navbar a:hover {
    cursor: pointer;
    color: rgb(218, 49, 49);
    border-top: 2px solid;
    border-color: rgb(218, 49, 49);
    border-radius: 20%;
}

#hero-container {
    position: relative;
    margin-top: 6rem;
}
#hero {
    padding-top: 10rem;
    padding-left: 3rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-div {
    width: 50%;
}
#myName {
    font-size: 3rem;
}


.right-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div img {
    max-width: 100%;
    height: 29rem;
}


/* .hero-btn {
    border-radius: 20px;
    height: 3rem;
    padding: 1rem;
    background-color: rgb(218, 49, 49);
    color: #ffff;
    cursor: pointer;
} */
.cv:hover {
    background-color: rgb(172, 33, 33);
}
.fancy {
 background-color: transparent;
 border: 2px solid rgb(218, 49, 49);
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: black;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-transform: uppercase;
 text-decoration: none;
 color: black;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: rgb(218, 49, 49);
 border-color: #333;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}

/* About SECTION */
#aboutme {
    height: 700px;
    padding-top: 100px
}
#About {
    padding-left: 3rem;
    top: 0;
    color: #1F1717;
}
#About-divide {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
}
.kaliwa img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(10, 10, 10, 0.3);
}
.kanan {
    padding-left: 5rem;
    width: 50%;
}
.kanan p {
    color: #34312D;
    text-align: justify;
}
#Skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.skill-container {
    text-align: center;
    width: 18%;
    margin: 10px; 
}
.skill-container img {
    width: 70px;
}
.skill-container img:hover {
    cursor: pointer;
}


/* Projects */
#Project {
    width: 100%;
    height: 100%;
    /* padding-left: 3rem; */
    padding-top: 3rem;
    background-color: #252422;
    color: #ffff;
    text-align: center;
    padding-top: 90px
}
#Project h1 {
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    letter-spacing: 6px;
}

.picture-container {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    
   
}


/* .picture-container h2 {
    color: #DFA67B;
} */
.picture {
    width: 530px; 
    height: 420px; 
    background-color: lightgray; 
    border-radius: 10px;
}

.name {
    margin-top: 10px;
}

.buttons {
    margin-top: 10px;
}

button {
    margin: 10px;
    padding: 20px;
    background-color:rgb(218, 49, 49);
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}
.picture-container button:hover {
    background-color: rgb(214, 28, 28);
    border-radius: 20px;
}




/* Contacts  */
#Contact {
    width: 100%;
    height: 610px;

    padding-top: 90px;
    display: flex;
}
/* ICONS */
.icon {
    font-size: 30px;
    color: #1d65b1a5;
    margin-bottom: 3rem;
}
.icon:hover {
    color: #2f7ccf;
}
.info {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 15rem;
    margin-right: 50px;
}
/* LEFT */
.left-contact {
    width: 25%;
}

/* CENTER */
.mid-contact {
    width: 50%;
    border-left: 1px solid rgba(0, 0, 0, 0.306);
    border-right: 1px solid rgba(0, 0, 0, 0.306);
}

/* RIGHT */
.right-contact {
    width: 25%;
}
.right-contact .info {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
}


#Contact h1 {
    justify-content: center;
    display: flex;
    color: rgb(214, 28, 28);
    font-size: 3rem;
}
#Contact h2 {
    justify-content: center;
    display: flex;
    text-align: center;
}





.contact-form {
    max-width: 400px;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group.row {
    flex-direction: row;
}

.form-group.row .col {
    flex: 1;
    margin-right: 10px;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: rgb(211, 54, 54);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.698);
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgb(218, 49, 49);
}

.cta span:hover {
    color: #fff;
}
.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}



/* Footer */
#Footer {
    width: 100%;
    height: 80px;
    background-color: #FAEED1;
    padding-top: 0.25px;
}
#Footer h3 {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
#Footer p {
    justify-content: center;
    display: flex;
    font-size: 0.80rem;
    margin-top: 0;

}



/* Responsive */
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px; 
    }
  
    #Navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #Navbar ul {
        padding-left: 0;
        padding-left: 30px;
    }
    #Navbar li { 
        font-size: 1.20rem;
   
    }
    .logo {
        padding-left: 12px;
        height: 3rem;
    }
    .logo img {
        height: 3rem;
    }
    
    /* HERO */
    #hero {
      flex-direction: column;
      align-items: center;
      padding-left: 2rem;
      padding-top: 6rem;
    }
    #myName {
        margin-top: 0;
        margin-bottom: 0;
    }
    .left-div p {
        width: 90%;
        margin-right: 2rem;
        align-items: center;

    }
    .left-div, .right-div {
      width: 100%;
    }
    /* RIGHT, IMAGE */
    .right-div {
        padding-right: 55px;
    }
    .right-div img {
      height: auto;
      max-width: 80%;
      background-color: #1f1717a5;
      border-radius: 30%;
    }

    /* ABOUT */
    #aboutme {
        height: 110vh;
        background-image: none;
    }
    #About-divide {
        display: flex;
        flex-direction: row;
        padding-left: 2rem;
    }
    #About {
        padding-left: 2rem;
    }
    
    .kaliwa {
        width: 0;
        background-image: none;
    }
    .kanan {
        width: 85%;
        height: 100vh;
        padding-left: 0;
    }
    #aboutme .kaliwa img {
        display: none;
    }

    .skill-container {
        margin-left: 0;
        font-size: small;
    }
    .skill-container img {
        width: 3.5rem;
    }
    #Skills .skill-container:nth-child(3) h3 {
        display: none;
    }

    .picture {
      width: 100%;
      height: auto;
    }
  
    .contact-form {
      max-width: 100%;
      padding: 30px;
    }
    
    /* Contact Section */
    .left-contact, .mid-contact, .right-contact {
        height: 100%;
        text-align: center;

        
    }
    .left-contact {
        width: 15%;
        
    }
    .left-contact .info {
        margin-right: 15px;

    }
    .info link{
     padding: 0;
    }
    .mid-contact {
        width: 70%;
        padding: 2px;
        font-size: 9px;
    }
    .mid-contact h1 {
        letter-spacing: none;
    }
    .mid-contact h2 {
        padding-bottom: 20px;
    }
    .right-contact {
        width: 15%;
        margin-left: 0;
    }
    .right-contact .info {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .contact-form {
        width: 250px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        padding-top: 50px;
    }
    .form-group input {
        max-width: 110px;
    
    }
    .form-group #message {
        height: 50px;
    }
    .form-group label {
        font-size: 12px;
        color: #34312D;
    }
   
    /* Footer */
    #Footer {
        height: auto;
        text-align: center;
        padding-bottom: 0.50rem;
    }
}



  
  